/* Global Style */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Body Style */
body {
  overflow: hidden;
}

/* Header Style */
header {
  display: flex;
  flex-direction: column;
  color: #fff;
  background: rgba(0, 0, 0, 0.4) url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  min-height: calc(100vh - 100px - 1.4rem);
}

.container {
  padding: 2rem 4rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.un-styled {
  list-style: none;
}

header nav ul {
  width: 50%;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.selected {
  font-weight: bold;
}

.highlight {
  border: none;
  outline: none;
  color: #fff;
  padding: 1rem;
  background-color: #00c2ff;
}

nav .logo {
  font-size: 2rem;
  cursor: pointer;
  font-weight: bolder;
}

header .content {
  margin-top: calc(0.25 * (100vh - 100px - 1.5rem));
}

header .content h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #00c2ff;
  margin-top: 15px;
}

header .content p {
  font-size: 1.2rem;
}

header .content button {
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
}

/* Footer Style */
footer {
  background-color: #000;
  min-height: 100px;
  padding: 1rem;
}

footer ul strong {
  color: #00c2ff;
  font-size: 1.4rem;
}

footer ul li p {
  color: #fff;
}

/* Media Quiries */
@media screen and (max-width: 1000px) {

  header nav ul,
  footer ul {
    flex-direction: column;
  }

  header nav ul .highlight {
    display: none;
  }

  header nav .logo {
    font-size: 1.5rem;
    padding-bottom: 40px;
  }

  header nav ul {
    padding-top: 30px;
    width: 15%;
  }

  header nav ul li:not(:last-child) {
    margin-bottom: 0.4rem;
  }

  header .container {
    padding: 0rem 1.4rem;
  }

  header .content h1 {
    font-size: 2.8rem;
  }

  footer ul {
    text-align: center;
  }

  footer ul li:not(:last-child) {
    margin-bottom: 1rem;
  }
}